@model Travel.Models.CountryHeader

@{
    var detail = Model.Countries.First(x => x.LangID == ViewBag.LangID);
    ViewBag.Path = Travel.Helper.Images.GetThumbFullPath(Model.Photo);

    ViewBag.Title = detail.CountryName;
}
<style>
    /* force the parallax image be larger! */
    #menuParallaxBG {
        min-height: 300px !important;
    }
</style>
<div class="container">
    <div class="country-detail-title">
        @detail.CountryName
    </div>
    <div class="country-detail-desc">
        <p>
            @Html.Raw(detail.Description)
        </p>
    </div>
</div>
<div class="country-tour-list">
    @Html.Action("TourList", "Tours", new { countryId = Model.CountryID })
</div>
<div class="theme-button-container">
    @Html.ActionLink(Resources.Body.ViewAllTours, "index", controllerName: "tours", routeValues: null,
            htmlAttributes: new { @class = "theme-button" })
</div>
