<hr />
<footer class="text-center">
    <h3>@Resources.Common.FindUsOn</h3>

    <div class="sc">
        <a class="sca" href="#">
            <div class="sprite_face">
            </div>
        </a>
        <a class="sca" href="#">
            <div class="sprite_twitter">
            </div>
        </a>
        @*<a href="#">
                <div class="sprite_rss">
                </div>
            </a>
            <a href="#">
                <div class="sprite_linked">
                </div>
            </a>*@
        <a class="sca" href="#">
            <div class="sprite_pint">
            </div>
        </a>
        @*<a href="#">
                <div class="sprite_share">
                </div>
            </a>*@
        <a class="sca" href="#">
            <div class="sprite_youtube">
            </div>
        </a>
    </div>

    <p>&copy; @DateTime.Now.Year - Travel Agency</p>
</footer>