@model IEnumerable<Travel.Models.Video>
@using Resources

@{
    ViewBag.Title = Common.VideoGallery;
}

<div class="container videobox-container">
    <h2>@Common.VideoGallery</h2>
    @Html.Partial("_VideoBox", Model)
    @*@foreach (var video in Model)
    {
        <div class="col-md-6">
            <div class="video-title">
                @video.Title
            </div>
            <iframe class="video-frame"
                    src="https://www.youtube.com/embed/@(video.Url)?rel=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
    }*@

</div>