@model IEnumerable<Travel.Models.Video>

<div class="container videobox-container">
   
    @Html.Partial("_VideoBox", Model)
    @Html.ActionLink(Resources.Common.FindMoreVideos, "Index", "VideoGallery", null, htmlAttributes: new { @class = "btn btn-info" })
</div>
