@model IEnumerable<Travel.Models.Photo>
<div class="container">

    <ul id="lightgallery" class="list-unstyled row">
        @foreach (var photo in Model)
        {
            var path = Travel.Helper.Images.GetPath(photo.Path, photo.GalleryID); // "/uploads/" + photo.GalleryID + "/" + photo.Path;

            <li class="col-xxs-12 col-xs-6 col-sm-6 col-md-6 col-lg-4"
                data-responsive="@path 375, @path 480, @path 800"
                data-src="@path"
                data-sub-html="<h4>@photo.Title</h4>"
                data-pinterest-text="Pin it1"
                data-tweet-text="share on twitter 1">
          <div class="gallery-container">
              <a href="">
                  <div class="gallery-img" style="background-image:url(@Travel.Helper.Images.GetThumbFullPath(photo))"></div>
              </a>
              <div>
                  @photo.Title
              </div>
          </div>
            </li>
        }
    </ul>
</div>