@using Resources
@{
    ViewBag.Title = Body.AboutUs;
    var culture = ViewBag.culture as string;
}

<h2>@Body.AboutUs</h2>

<div style="text-align: justify;line-height: 1.5;font-size:large;min-height:500px">
    @Html.Partial("_about-" + culture)
</div>
