@model Travel.Models.NewsLocalizedDetail

@{
    ViewBag.Title = Model.Title;
}
<div class="container">

    <div>
        <div style="text-align:center;font-size: 36px;margin-bottom:20px;">
            @Model.Title
        </div>

        <p style="line-height:1.5;">
            <img src="@ViewBag.MainPhotoPath" width="300" style="float:left;margin-right: 20px;margin-bottom: 10px;text-align:justify;" />
            @Html.Raw(Model.Description)
        </p>
    </div>

</div>

@section scripts{
}