@model IEnumerable<Travel.ViewModels.NewsViewModel>
@using Resources
@using Travel.Helper
@{
    ViewBag.Title = Body.Blog;
}
<div class="container">
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
        @foreach (var item in Model)
            {
            <div class="col-md-12">
                @Html.Partial("_Details", item)
                @*<a href="@Url.Action("Details", new { id= item.News.NewsID })" style="text-decoration:none;">
                        <span style="font-size:20px;vertical-align:top;">
                            <img src="@item.PhotoPath" width="250" style="padding-right:20px;"/>
                            @Html.DisplayFor(modelItem => item.NewsDetail.Title)
                        </span>
                    </a>*@
            </div>
        }
    </div>
</div>